body {
touch-action: auto;
}

h1 {
margin: 50px;
text-align: center;
}

p {
text-align: center;
width: 50%;
}

#paint {
margin: auto;
}

.predictButton {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.predictButton:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.predictButton:main,
.predictButton:focus {
  user-select: auto;
}

.predictButton:hover:not(:disabled) {
  filter: brightness(1.1);
}

.predictButton:disabled {
  cursor: auto;
}

.clearButton {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.clearButton:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.clearButton:main,
.clearButton:focus {
  user-select: auto;
}

.clearButton:hover:not(:disabled) {
  filter: brightness(1.1);
}

.clearButton:disabled {
  cursor: auto;
}

#predicted { 
font-size: 30px;
margin-top: 30px;
text-align: center;
}

#character {
margin: auto;
text-align: center;
vertical-align: middle;
}

#probability {
margin: auto;
}

#barchart {
width: 75%;
height: 100%;
margin: auto;
margin-top: 30px;
margin-bottom: 30px;
padding: 0;
}
