body {
/*touch-action: auto;*/
touch-action: none;
}

h1 {
margin: 50px;
text-align: center;
}

p {
text-align: center;
width: 50%;
}

#paint {
margin: auto;
}

#predictButton {
margin: auto;
margin-top: 5px;
margin-bottom: 5px;
padding: 10px;
text-align: center;
}

#clearButton {
margin: auto;
margin-top: 5px;
margin-bottom: 5px;
padding: 10px;
text-align: center;
}

#predicted { 
font-size: 30px;
margin-top: 30px;
text-align: center;
}

#character {
margin: auto;
text-align: center;
vertical-align: middle;
}

#probability {
margin: auto;
}

#barchart {
width: 75%;
height: 100%;
margin: auto;
margin-top: 30px;
margin-bottom: 30px;
padding: 0;
}
