body {
touch-action: none; /*https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action*/
/*font-family: "Roboto";*/
}

h1 {
margin: 50px;
/*font-size: 50px;*/
text-align: center;
}

p {
text-align: center;
width: 50%;
}

#paint {
/*Don't need a red border if the canvas is black*/
/*border:3px solid red;*/
margin: auto;
}

#predict_button {
margin: auto;
margin-top: 20px;
margin-bottom: 20px;
padding: 10px;
text-align: center;
}

#clear {
margin: auto;
margin-top: 20px;
margin-bottom: 20px;
padding: 10px;
text-align: center;
}

#predicted { 
font-size: 30px;
margin-top: 30px;
text-align: center;
}

#character {
/*text-align: center;*/
margin: auto;
}

#probability {
/*text-align: center;*/
margin: auto;
}

#number {
/*border: 3px solid black;*/
margin: auto;
margin-top: 30px;
margin-bottom: 30px;
text-align: center;
vertical-align: middle;
}

#barchart {
width: 75%;
height: 100%;
margin: auto;
margin-top: 30px;
margin-bottom: 30px;
padding: 0;
}
