body {
touch-action: none; /*https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action*/
}

h1 {
margin: 50px;
text-align: center;
}

p {
text-align: center;
width: 50%;
}

#paint {
margin: auto;
}

#predict_button {
margin: auto;
margin-top: 5px;
margin-bottom: 15px;
padding: 10px;
text-align: center;
}

#clear {
margin: auto;
margin-top: 5px;
margin-bottom: 15px;
padding: 10px;
text-align: center;
}

#predicted { 
font-size: 30px;
margin-top: 30px;
text-align: center;
}

#character {
margin: auto;
}

#probability {
margin: auto;
}

#number {
margin: auto;
margin-top: 30px;
margin-bottom: 30px;
text-align: center;
vertical-align: middle;
}

#barchart {
width: 75%;
height: 100%;
margin: auto;
margin-top: 30px;
margin-bottom: 30px;
padding: 0;
}
